footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color3;
    p{
        padding: 8px;
        font-size: 20px;
        color: $color4;
    }
}