.primerBarra{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color3;
    p{
        padding: 8px;
        font-size: 16px;
        color: $color4;
    }
}
.responsive{
    display: none;}
.cerrar{
    display: none;
}
.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;
    .buscarProductos{
        flex-grow: 1;
        padding: 10px;
        border: 0;
        font-size: 15px;}
    .botonBuscar{
        background-color: $color2;
        border: 0;
        padding: 10px;
        font-size: 15px;}
    }
.menu{
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: $color1;
    .barraPrincipal header{
        display: flex;
        color: $color1;
        flex-direction: column;
        top: 0;
        padding: 25px;
        padding-right: 0;
        height: 800px;
        position: sticky;
        nav{
            ul{    
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                }
            }
        .logo{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 2px;}
        .botonMenu{
            display: flex;
            align-items: center;
            background-color: transparent;
            border: 0;
            color: $color4;
            font-size: 16px;
            font-weight: 400;
            padding: 10px;
            width: 100%;
            gap: 20px;
        }
        .botonMenu:hover{
            color: $color2;}
        .activar{
            background-color: $color4;
            color: $color1;
            border-top-left-radius: 15px;
            position: relative;}
    }
}
